name: Deploy to EC2 Staging

on:
  push:
    branches:
      - main  # Adjust the branch name if necessary

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh -i ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 700 ~/.ssh/id_rsa
        ssh-keyscan -H 13.232.159.232 >> ~/.ssh/known_hosts
      env:
        SSH_AUTH_SOCK: /dev/null  # Disables SSH agent to prevent issues with the private key

    - name: Deploy to EC2
      run: |
        ssh -i ~/.ssh/id_rsa  ubuntu@13.232.159.232 'cd /home/ubuntu/nodejs && git pull origin main && ./deploy.sh'

